CONFIG_PRODUCT_BLUEPILL_F103C8=y
CONFIG_RTOS_NONE=y
CONFIG_APP_ENABLE_HEARTBEAT=y
CONFIG_APP_LED_BLINK_INTERVAL_MS=500
CONFIG_APP_POLL_INTERVAL_MS=10
CONFIG_BSP_USING_LED=y
CONFIG_BSP_USING_USART1=y
CONFIG_BSP_USART1_BAUDRATE=115200
CONFIG_DRIVER_USE_HAL=y
CONFIG_DRIVER_HAL_GPIO=y
CONFIG_DRIVER_HAL_UART=y
CONFIG_DRIVER_HAL_RCC=y
