menu "Drivers & HAL Configuration"

config DRIVER_USE_HAL
    bool
    default y

config DRIVER_HAL_GPIO
    bool
    default y
    depends on DRIVER_USE_HAL

config DRIVER_HAL_UART
    bool
    default y
    depends on DRIVER_USE_HAL

config DRIVER_HAL_RCC
    bool
    default y
    depends on DRIVER_USE_HAL

endmenu
