menu "RT-Thread Nano Kernel Settings"
    depends on RTOS_RTTHREAD

config RT_THREAD_PRIORITY_MAX
    int "Max Thread Priority Levels"
    default 32
    range 8 256

config RT_TICK_PER_SECOND
    int "Ticks Per Second (Hz)"
    default 1000
    range 100 2000

config RT_APP_THREAD_STACK_SIZE
    int "Application thread stack size (bytes)"
    default 512
    range 256 4096

config RT_APP_THREAD_PRIORITY
    int "Application thread priority"
    default 10
    range 1 31

config RT_APP_THREAD_TIMESLICE
    int "Application thread timeslice (ticks)"
    default 20
    range 1 100

endmenu
